.right-content {
  margin-left: 250px;
  margin-top: 100px;
}
.right-content ul {
  width: 980px;
  font-size: 0;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.right-content ul li {
  display: inline-block;
  font-size: 14px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  border-left: 1px solid #ccc;
}
.right-content ul li:nth-child(1) {
  width: 50px;
}
.right-content ul li:nth-child(2) {
  width: 250px;
}
.right-content ul li:nth-child(3) {
  width: 350px;
}
.right-content ul li:nth-child(4) {
  width: 120px;
}
.right-content ul li:nth-child(5) {
  width: 100px;
}
.right-content ul li:nth-child(6) {
  width: 100px;
}
.list-head {
  border-top: 1px solid #ccc;
}
