.right-text {
  width: 1000px;
  margin-top: 100px;
  margin-left: 250px;
}
.right-text > div {
  margin: 10px 0;
}
.right-text input {
  width: 200px;
  height: 30px;
  line-height: 30px;
  margin-left: 30px;
}
.right-text textarea {
  width: 200px;
  height: 60px;
  line-height: 30px;
  margin-left: 30px;
}
.right-text label {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: right;
}
.right-text #fabu {
  width: 150px;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  margin-top: 20px;
}
